<!DOCTYPE html>
<html>
<head>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>
<style>
    h1 {
        color: black;
        font-family: verdana;
        font-size: 300%;
        text-align: center;
        padding: 20px;
        background-image: url('bac2.png');
    }
</style>
{#<div>#}
{#    {% block navbar %}#}
{#    {% endblock %}#}
{#</div>#}
<body style="background-image: url('bac2.png'); background-repeat: no-repeat ">

    <div class="wrapper">
        {% block content %}
        {% endblock content %}

    </div>

    <div>
        {% block navbarw %}
        {% endblock navbarw%}
    </div>

    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>