{% extends "base.html" %}
{% load static%}

{% block content %}
<style>

ul {
  padding: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9464EE;
}

li {
  float: left;
}

li form button {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  background-color: inherit;
  font-family: verdana;
  border: none;
  font-size:110%;
}

li form button:hover:not(.active) {
  background-color: #1a66ff;
}
</style>
<h1 style="background-image: url('bac2.png');">Home</h1>
    {% include 'navbar.html' %}
<br>
<hr>
{% endblock %}